/*CSS RESET*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,details,figcaption,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,summary,time{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align: baseline;background:transparent;}article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, output, section, summary{display:block;}meter,progress,mark, time{display:inline;}ol, ul {list-style: none;}blockquote,q{quotes: none;}html,body{height:100%;}img {border:0;vertical-align:top;text-align:left;}object{vertical-align:top;outline:none;}ul,ol{list-style:none;}table,table td{padding:0;border:none;border-collapse:collapse;}input,select,textarea{font-family:Arial, Helvetica, sans-serif;font-size:1em;vertical-align:middle;font-weight:normal;margin:0;padding:0;}textarea{overflow:auto;}
@font-face {
	font-family: 'Conv_YanoneKaffeesatz-Bold';
	src: url('../fonts/YanoneKaffeesatz-Bold.eot');
	src: local('☺'), url('../fonts/YanoneKaffeesatz-Bold.woff') format('woff'), url('../fonts/YanoneKaffeesatz-Bold.ttf') format('truetype'), url('../fonts/YanoneKaffeesatz-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_YanoneKaffeesatz-Regular';
	src: url('../fonts/YanoneKaffeesatz-Regular.eot');
	src: local('☺'), url('../fonts/YanoneKaffeesatz-Regular.woff') format('woff'), url('../fonts/YanoneKaffeesatz-Regular.ttf') format('truetype'), url('../fonts/YanoneKaffeesatz-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_YanoneKaffeesatz-Light';
	src: url('../fonts/YanoneKaffeesatz-Light.eot');
	src: local('☺'), url('../fonts/YanoneKaffeesatz-Light.woff') format('woff'), url('../fonts/YanoneKaffeesatz-Light.ttf') format('truetype'), url('../fonts/YanoneKaffeesatz-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_YanoneKaffeesatz-ExtraLight';
	src: url('../fonts/YanoneKaffeesatz-ExtraLight.eot');
	src: local('☺'), url('../fonts/YanoneKaffeesatz-ExtraLight.woff') format('woff'), url('../fonts/YanoneKaffeesatz-ExtraLight.ttf') format('truetype'), url('../fonts/YanoneKaffeesatz-ExtraLight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	margin:0;
	background:url(../img/bgbody.png) repeat-y center 0px #5bbdba;
	}
.page_spinner {
	position:fixed;
	background: url(../img/main_spinner2.gif) 50% 50% no-repeat #5bbdba;
	z-index:999999;
	width:100%;
	
	top:0;
	left:0;
}
.layer{
	width:1280px;
	
	margin:0 auto;
	}
#pagina1{
	width:1280px;
	height:801px;
	background:url(../img/manos.png) no-repeat center bottom #5bbdba;
	position:relative;
	}
#pagina2{
	width:1280px;
	height:801px;
	
	background:url(../img/bgtop.png) repeat-x 0px top;
	position:relative;
	}
#pagina3{
	width:1280px;
	height:690px;
	position:relative;
	}
#pagina3 .contenido{
	height:690px !important;
	}
#pagina4{
	width:1280px;
	height:930px;
	background:url(../img/bgfoot.png) repeat-x 0px bottom;
	position:relative;
	}
.contenido{
	height:801px;
	}
.bloque{
	background:url(../img/corte.png) no-repeat 0px	0px;
	width:366px;
	height:170px;
	position:absolute;
	top:0px;
	left:456px;
	z-index:10;
	}
.logo{
	background: url(../img/logo.png) no-repeat 0px 0px;
	width: 355px;
	height: 215px;
	position: absolute;
	top: 17px;
	left: 446px;
	z-index:30;
	}
.donar{
	background: url(../img/btndonar.png) no-repeat 0px 0px;
	width: 165px;
	height: 45px;
	display: block;
	top: 456px;
	left: 553px;
	position: absolute;
	text-indent: -9999px;
	
	}
.texto1{
	position: absolute;
	top: 222px;
	width: 614px;
	text-align: center;
	left: 339px;
	line-height: 23px;
	}
.texto2{
	width: 715px;
	position: absolute;
	top: 512px;
	left: 292px;
	}
.formulario1{
	width: 396px;
	height: 146px;
	position: absolute;
	top: 299px;
	left: 434px;
	}
.contenido .registrarme{
	background:url(../img/btnregistro.png) no-repeat 0px 0px;
	width: 138px;
	height: 37px;
	position: absolute;
	top: 542px;
	left: 566px;
	display: block;
	text-indent: -9999px;
	}
.facebook{
	background: url(../img/facebook.png)no-repeat 0px 0px;
	width:32px;
	height:36px;
	position:absolute;
	top: 585px;
	left: 601px;
	display:block;
	text-indent: -9999px;
	}
.twitter{
	background:url(../img/twitter.png) no-repeat 0px 0px;
	width:32px;
	height:36px;
	position:absolute;
	top: 585px;
	left: 645px;
	display:block;
	text-indent: -9999px;
	}
.donaron{
	width:157px;
	height:51px;
	position:absolute;
	background:#FAB14C;
	left:0px;
	top:59px;
	text-transform: uppercase;
	color: #fff;
	font-size: 19px;
	padding-left: 39px;
	padding-top: 4px;
	font-family: 'Conv_YanoneKaffeesatz-Regular';
	line-height: 21px;
	}
.donaron span{
	color: #000;
	font-size: 24px;
	}
.escucha{
	width:157px;
	height:51px;
	position:absolute;
	background:#FAB14C;
	top:129px;
	left:0px;
	z-index:10;
	text-transform: uppercase;
	color: #fff;
	font-size: 19px;
	padding-left: 39px;
	padding-top: 4px;
	font-family: 'Conv_YanoneKaffeesatz-Regular';
	line-height: 21px;
	}
.girl{
	background: url(../img/girl.png) no-repeat 0px -9px;
	height: 206px;
	width: 183px;
	position: absolute;
	left: 10px;
	top: 169px;
	z-index: 13;
	}
.auspicio{
	background: url(../img/auspicio.png) no-repeat 0px 0px;
	width: 174px;
	height: 180px;
	position: absolute;
	top: 364px;
	left: 17px;
	}
.play{
	background:url(../img/players.png) no-repeat -38px 0px;
	width:38px;
	height:38px;
	position:absolute;
	z-index:40;
	top: 149px;
	left: 130px;
	}
.stop{
	background:url(../img/players.png) no-repeat 0px 0px;
	width:38px;
	height:38px;
	position:absolute;
	z-index:40;
	top: 149px;
	left: 90px;
	}
.formulario1 .lbl{
	background:#50ada8;
	width:353px;
	height:26px;
	position:absolute;
	padding: 6px 0px 0px 10px;
	}
.formulario1 input{
	width:340px;
	outline:none;
	background:transparent;
	border:0px;
	color:#fff;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:lighter;
	}
.formulario1 .op1{
	top:1px;
	left:22px;
	}
.formulario1 .op2{
	top:41px;
	left:22px;
	}
.formulario1 .op3{
	top:81px;
	left:22px;
	}
.formulario1 .bases{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000;
	position: absolute;
	top: 121px;
	left: 131px;
	width: 184px;
	height: 22px;
	}
.formulario1 .bases>div{
	position: absolute;
	top: 1px;
	left: 20px;
	}
.contenido h1{
	font-family: 'Conv_YanoneKaffeesatz-Bold';
	font-size: 46px;
	position: absolute;
	top: 93px;
	left: 233px;
	text-transform:uppercase;
	}
.contenido .pgen{
	position: absolute;
	left: 233px;
	top: 169px;
	font-size: 19px;
	font-family:"Times New Roman", Times, serif;
	}
.paso1{
	background:url(../img/paso1.png) no-repeat 0px 0px;
	position:absolute;
	width:857px;
	height:232px;
	top:200px;
	left:233px;
	}
.paso1 p{
	top: 17px;
	left: 64px;
	position:absolute;
	font-size: 19px;
	font-family:"Times New Roman", Times, serif;
	}
.paso2{
	background:url(../img/paso2.png) no-repeat 0px 0px;
	position:absolute;
	width:857px;
	height:228px;
	top:432px;
	left:233px;
	}
.paso2 p{
	top: 29px;
	left: 64px;
	position:absolute;
	font-size: 19px;
	font-family:"Times New Roman", Times, serif;
	}
.paso3{
	background:url(../img/paso3.png) no-repeat 0px 0px;
	position:absolute;
	width:857px;
	height:151px;
	top:660px;
	left:233px;
	}
.paso3 p{
	top: 17px;
	left: 64px;
	position:absolute;
	font-size: 19px;
	font-family:"Times New Roman", Times, serif;
	}
.paso3 .donarurl{
	font-weight:bold;
	color:#000;
	}
.peques{
	background:url(../img/peques.png) no-repeat 0px 0px;
	width:381px;
	height:381px;
	position:absolute;
	top:177px;
	left:233px;
	}
.columna1, .pcol2{
	position:absolute;
	width:398px;
	height:398px;
	top:177px;
	right:233px;
	font-size: 19px;
	font-family:"Times New Roman", Times, serif;
	}
.pcol2{
	top:160px !important;
	}
.pcol1{
	position:absolute;
	width:398px;
	height:398px;
	top:160px;
	left:222px;
	font-size: 19px;
	font-family:"Times New Roman", Times, serif;
	}
.columna1 p, .pcol1 p, .pcol2 p{
	line-height: 32px;
	text-align: justify;
	padding: 10px 10px 20px 10px;
	}
.capa{
	position: fixed;
	width: 100%;
	height: 1400px;
	top: 0px;
	left: 0px;
	z-index:9999;
	display:none;
}
.capa .content{
	background:url(../img/formulario.png) no-repeat 0px 0px;
	width:685px;
	height:468px;
	margin:150px auto;
	}
.capa .wrapper{
	position:relative;
	top:0px;
	left:0px;
	}
.capa .lbl{
	background:#50ada8;
	width:353px;
	height:26px;
	position:absolute;
	padding: 6px 0px 0px 10px;
	}
.capa input{
	width:340px;
	outline:none;
	background:transparent;
	border:0px;
	color:#fff;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:lighter;
	}
.capa .op4{
	top: 170px;
	left: 164px;
	}
.capa .op5{
	top:211px;
	left: 164px;
	}
.capa .op6{
	top:252px;
	left: 164px;
	}
.capa .op7{
	top: 293px;
	left: 164px;
	}
.capa .bases{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000;
	position: absolute;
	top: 332px;
	left: 266px;
	width: 184px;
	height: 22px;
	}
.capa .bases>div{
	position: absolute;
	top: 1px;
	left: 20px;
	}
.capa .registrarme{
	background:url(../img/btnregistro.png) no-repeat 0px 0px;
	width: 138px;
	height: 37px;
	position: absolute;
	top: 365px;
	left: 271px;
	display: block;
	text-indent: -9999px;
	}
.capa .cerrar{
	background: url(../img/cerrar.png) no-repeat 0px 0px;
	width: 23px;
	height: 25px;
	position: absolute;
	top: 39px;
	right: 51px;
	z-index: 100;
	text-indent: -9999px;
	display:block;
	}

.contenido .area2 .descripcion1{
	position:absolute;
	top: 232px;
	left: 456px;
	font-family:"Times New Roman", Times, serif;
	text-aling:center;
	width:500px;
	}
.contenido .area3{
	line-height: 23px;
	}
.contenido .area3 .descripcion1{
	position: absolute;
	top: 390px;
	left: 379px;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	width: 548px;
	}
.contenido .area2 .descripcion2,.contenido .area3 .descripcion2,.contenido .area4 .descripcion2{
	position: absolute;
	top: 457px;
	left: 479px;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	}
.contenido .area2 .donar20{
	background: url(../img/donarladrillos2.png) no-repeat 0px 0px;
	width: 234px;
	height: 43px;
	display: block;
	position: absolute;
	top: 387px;
	left: 512px;
	text-indent:-9999px;
	}
.contenido .area2  .lbl{
	background:#50ada8;
	width:353px;
	height:26px;
	position:absolute;
	padding: 6px 0px 0px 10px;
	}
.contenido .area2 .tb1{
	top: 328px;
	left: 454px;
	}
.contenido .area2 .tb2{
	top: 290px;
	left: 454px;
	}	
.contenido .area2  input{
	width:340px;
	outline:none;
	background:transparent;
	border:0px;
	color:#fff;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:lighter;
	}

.contenido .area2 .bases{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000;
	position: absolute;
	top: 367px;
	left: 554px;
	width: 184px;
	height: 22px;
	}
.contenido .area2  .bases>div{
	position: absolute;
	top: 1px;
	left: 20px;
	}
.contenido .area2 .sel{
	position:absolute;
	}
.contenido .area2 a, .contenido .area3 a, .contenido .area4 a{
	color:#000;
	font-weight:bold;
	}
.contenido .area3 .gracias1{
	background: url(../img/gracias1.png) no-repeat 0px 0px;
	position: absolute;
	width: 366px;
	height: 166px;
	top: 219px;
	left: 449px;
	}
.contenido .area3 .descripcion2, .contenido .area4 .descripcion2{
	top: 524px !important;
	}
.contenido .area3 .vermodelo{
	background: url(../img/modelosprecios.png) no-repeat 0px 0px;
	width: 264px;
	height: 44px;
	display: block;
	top: 447px;
	left: 503px;
	position: absolute;
	text-indent:-9999px;
	}
.contenido .area3 span{
	font-weight:bold;
	font-size:18px;
	}
.contenido .area4 .gracias2{
	background: url(../img/gracias2.png) no-repeat 0px 0px;
	position: absolute;
	width: 366px;
	height: 166px;
	top: 219px;
	left: 449px;
	}
.contenido .area4 .descarga{
	background: url(../img/descarga.png) no-repeat 0px 0px;
	width: 262px;
	height: 43px;
	display: block;
	top: 447px;
	left: 503px;
	position: absolute;
	text-indent:-9999px;
	}
.jqTransformSelectWrapper {
	width: 363px !important;
	height: 33px;
	position: absolute;
	top: 0px;
	left: 0px;
	background:#50ada8;
}
.jqTransformSelectWrapperover{
	width: 363px !important;
	height: 33px;
	background: url(../img/lbl.png) no-repeat 0px -32px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.jqTransformSelectWrapper div span {	
	font-size: 13px;
	position: absolute;
	white-space: nowrap;
	height: 24px;
	padding: 8px 0 0 10px;
	overflow: hidden;
	cursor: pointer;
	width: 361px !important;
	text-align: left;
	left: 0px;
	color:#fff;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:lighter;
}
.jqTransformSelectWrapper  a.jqTransformSelectOpen {
	display: block;
	position: absolute;
	right: 10px;
	width: 25px;
	height: 29px;
	background: url(../img/flecha.png) no-repeat 0px 10px;
	top: -2px;
}

.jqTransformSelectWrapper ul {
	position: relative;
	width: 366px !important;
	top: 30px;
	left: 0px;
	list-style: none;
	background-color: #000;
	border: solid 1px #cfcfcf;
	display: none;
	margin: 0px;
	padding: 0px;
	height: 300px !important;
	overflow: auto;
	overflow-y: scroll !important;
	z-index:8001;
}

.jqTransformSelectWrapper ul a {
	display: block;
	padding: 5px;
	text-decoration: none;
	color:#999;
	background-color: #FFF;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:lighter;
}

.jqTransformSelectWrapper ul a.selected {
	background: #f1f1f1;
	color: #000;
}

.jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover {
	background:#c7cbcf;
	color: #000;
}
	
.linea{
	background:url(../img/linea.png) no-repeat 0px 0px;
	width:511px;
	height:2px;
	display:block;
	}
#pagina2 .linea{
	bottom: -20px;
	left: 391px;
	position: absolute;
	}
#pagina3 .linea{
	bottom:10px;
	left: 391px;
	position: absolute;
	}
#pagina4 .linea{
	bottom:100px;
	left: 391px;
	position: absolute;
	}
#pagina4 .contenido{
	height:930px !important;
	}
#nav{
	position: fixed;
	right: 7px;
	top: 216px;
	height: 132px;
	width: 37px;
}

#nav .navigation a{
	background:url(../img/radio.png) no-repeat 0px 0px;
	width:32px;
	height:32px;
	display:block;
	text-indent:-9999px;
	}
#nav .navigation .activado{
	background-position:0px -32px;
	}	
.stack1 {
	position:absolute;
	bottom:0px;
	width:30px;
	height:1px;
	z-index:0;
	}
.stack2{
	position:absolute;
	bottom:0px;
	width:30px;
	height:1px;
	z-index:0;
	}
.stack3{
	position:absolute;
	bottom:0px;
	width:30px;
	height:1px;
	z-index:0;
	}
.stack4{
	position:absolute;
	bottom:0px;
	width:30px;
	height:1px;
	z-index:0;
	}
.ustack1 {
	position:absolute;
	top:0px;
	width:30px;
	height:1px;
	z-index:0;
	}
.ustack2{
	position:absolute;
	top:0px;
	width:30px;
	height:1px;
	z-index:0;
	}
.ustack3{
	position:absolute;
	top:0px;
	width:30px;
	height:1px;
	z-index:0;
	}
.ustack4{
	position:absolute;
	top:0px;
	width:30px;
	height:1px;
	z-index:0;
	}



