.botton,
.botton:hover,
.text_portfolio:hover, 
.item_blog .opacity_image:hover,
.text_portfolio,
.image_blog{	
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.bar_personal ul li:hover i{	
	-webkit-transition: all .5s linear;
	-moz-transition: all .5s linear;
	-o-transition: all .5s linear;
	transition: all .5s linear;
}